<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibilidi.dao.KcInfoDao">
    <resultMap id="KcInfo" type="KcInfo">
        <collection property="students" column="{kch=kch}" ofType="Student"
                    select="cn.ibilidi.dao.StudentDao.getStudentsByKch">
        </collection>
    </resultMap>
    <select id="getKcInfoByKch" resultMap="KcInfo" parameterType="java.util.HashMap">
        SELECT kcb.*
        FROM kcb WHERE kch=#{kch}
    </select>
   <select id="getKcInfosByJsh" resultType="KcInfo" parameterType="java.util.HashMap">
       <if test="jxdd!=null and jxdd!=''">
           <bind name="jxdd_pattern" value="'%'+jxdd+'%'"/>

       </if>
       SELECT kcb.*
       FROM kcb
       <where>
           <if test="jsh!=null and jsh!=''">
               AND jsh=#{jsh}
           </if>
           <if test="kcmc!=null and kcmc!=''">
               AND kcmc=#{kcmc}
           </if>
           <if test="jxdd!=null and jxdd!=''">
               AND skdd LIKE #{jxdd_pattern}
           </if>
       </where>

   </select>
    <select id="getKcInfosByXh" parameterType="java.util.HashMap" resultType="KcInfo">
        SELECT kcb.*
        FROM kcb,xkb
        <where>
            <if test="xh!=null and xh!=''">
                AND xkb.id=#{xh}
            </if>
            AND kcb.kch=xkb.kch
        </where>
    </select>
    <update id="updateAllowOrNot" >
        UPDATE kcb
        <set>
                allowornot=#{allowornot}
        </set>
        <where>
            kch=#{kch}

        </where>
    </update>
</mapper>