<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibilidi.dao.KcqdInfoDao">
    <resultMap id="KcqdInfo" type="KcqdInfo">
        <association property="student" column="{id_or_openid=xh,flag=flag}" select="cn.ibilidi.dao.StudentDao.getStudentForKcqdInfo"></association>
    </resultMap>
    <insert id="insertQdInfo" parameterType="KcqdInfo">
        insert into qdb (kch,xh,qddd,qdsj,kcmc) values (#{kch},#{xh},#{qddd},#{qdsj},#{kcmc});
    </insert>
    <select id="getKcqdInfos" resultMap="KcqdInfo">
        SELECT *,'1' AS flag FROM qdb WHERE kch=#{kch}
    </select>
</mapper>